<div class="note" [cdkDragData]="note" cdkDropListAutoScroll cdkDrag>
  <div class="note-header" cdkDragHandle>
    <svg width="24px" fill="#000" viewBox="0 0 24 24" (click)="expandNote()">
      <ng-container *ngIf="!isExpanded">
        <path d="M12 16l-8-8 1.41-1.41L12 13.17l6.59-6.58L20 8z"/>
      </ng-container>
      <ng-container *ngIf="isExpanded">
        <path d="M7 10l5 5 5-5z"/>
      </ng-container>
    </svg>
  </div>
  <h2 class="note-title">{{ note.noteDescription }}</h2>
  <div class="quick-info">
    <hr class="note-priority-color" [ngClass]="{
      'red': note.priorityLevel === 'High',
      'yellow': note.priorityLevel === 'Medium',
      'green': note.priorityLevel === 'Low'
    }">
    <p class="note-days-until-due">Days Until Due: {{ note.dueDate | daysDue }}</p>
  </div>
  <div class="note-info" [ngStyle]="{display: isExpanded ? 'block' : 'none'}">
    <p class="note-id">ID: {{ note.noteId }}</p>
    <p class="note-due">Due Date: {{ note.dueDate | date: 'fullDate' }}</p>
    <p class="note-assignee">Assignee: {{ note.assignee }}</p>
    <p class="note-attachments">Attachments: {{ note.attachments }}</p>
    <p class="note-priority">Priority Level: {{ note.priorityLevel }}</p>
    <p class="note-comments">Comments: {{ note.comments }}</p>
    <p class="note-status">Status: {{ note.noteStatus }}</p>
  </div>
  <div class="note-buttons">
    <button type="button" class="btn btn-primary expand-button" [ngStyle]="{display: isExpanded ? 'block' : 'none'}"
      (click)="editNotePush()">Edit</button>
    <button type="button" class="btn btn-danger delete-button" [ngStyle]="{display: isExpanded ? 'block' : 'none'}"
      (click)="deleteNote()">Delete</button>
      <div class="dropdown">
        <!-- <select name="status" id="status" class="dropdown-select" (change)="updateStatus($event.target.value)"> -->
        <select name="status" id="status" class="dropdown-select">
          <option selected disabled>Move to:</option>
          <option value="To Do">To Do</option>
          <option value="Doing">Doing</option>
          <option value="Review">Review</option>
          <option value="Done">Done</option>
        </select>
      </div>
  </div>
</div>
